In [18]:
import numpy as np 
import pandas as pd

## Light Data Exploration

In [19]:
data = pd.read_csv("../data/clean_weather.csv")
data.head(10)

   Unnamed: 0  tmax  tmin  rain  tmax_tomorrow
0  1970-01-01  60.0  35.0  0.00           52.0
1  1970-01-02  52.0  39.0  0.00           52.0
2  1970-01-03  52.0  35.0  0.00           53.0
3  1970-01-04  53.0  36.0  0.00           52.0
4  1970-01-05  52.0  35.0  0.00           50.0
5  1970-01-06  50.0  38.0  0.00           52.0
6  1970-01-07  52.0  43.0  0.00           56.0
7  1970-01-08  56.0  49.0  0.24           54.0
8  1970-01-09  54.0  50.0  0.40           57.0
9  1970-01-10  57.0  50.0  0.00           57.0

In [20]:
data.describe()

               tmax          tmin          rain  tmax_tomorrow
count  13498.000000  13495.000000  13228.000000   13498.000000
mean      66.052230     50.430678      0.046302      66.052526
std        8.321769      6.785798      0.181533       8.321625
min       38.000000      1.000000      0.000000      38.000000
25%       60.000000     46.000000      0.000000      60.000000
50%       66.000000     51.000000      0.000000      66.000000
75%       71.000000     56.000000      0.000000      71.000000
max      122.000000     69.000000      3.580000     122.000000

In [21]:
data = data.ffill()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13509 entries, 0 to 13508
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13509 non-null  object
 1   tmax           13509 non-null  float64
 2   tmin           13509 non-null  float64
 3   rain           13509 non-null  float64
 4   tmax_tomorrow  13509 non-null  float64
dtypes: float64(4), object(1)
memory usage: 527.8+ KB

## Creating a RNN

In [30]:
np.random.seed(0) 

i_weight = np.random.rand(1,5) / 5 - .1
h_weight = np.random.rand(5,5) / 5 - .1
h_bias = np.random.rand(1, 5) / 5 - .1

o_weight = np.random.rand(5, 1) * 50 
o_bias = np.random.rand(1,1)

In [31]:
h_weight

array([[ 0.02917882, -0.01248256,  0.0783546 ,  0.09273255, -0.0233117 ],
       [ 0.05834501,  0.00577898,  0.01360891,  0.08511933, -0.08579279],
       [-0.08257414, -0.09595632,  0.06652397,  0.05563135,  0.07400243],
       [ 0.09572367,  0.05983171, -0.00770413,  0.05610584, -0.07634511],
       [ 0.0279842 , -0.07132934,  0.08893378,  0.00436966, -0.01706761]])

In [32]:
outputs = np.zeros(3) 
hiddens = np.zeros((3,5)) 
prev_hidden = None 
sequence = data["tmax"].tail(3).to_numpy()

In [33]:
o_weight.shape

(5, 1)

In [34]:
for i in range(3): 
    x = sequence[i].reshape(1,1) 
    
    xi = x @ i_weight
    if prev_hidden is None: 
        xh = xi 
    else: 
        xh = xi + prev_hidden @ h_weight + h_bias 
        
    xh = np.tanh(xh) 
    prev_hidden = xh 
    hiddens[i,] = xh 
    
    xo = xh @ o_weight + o_bias 
    outputs[i] = xo

/var/folders/80/yxql_m2n3b93pljkxwjyygr40000gn/T/ipykernel_67667/3734682972.py:15: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  outputs[i] = xo

In [35]:
outputs

array([74.31470595, 80.66149404, 77.67852446])

In [ ]:
def mse():